{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto">
            <h3>Login</h3>
            
            <form action="/login" method="POST">
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" style="padding-bottom: 2.5rem;" role="alert">
                  <button type="button" class="btn-close"  data-bs-dismiss="alert" aria-label="Close"></button>
                  <strong>{{error}}</strong> 
                </div>
                {% endif %}
                <script>
                  var alertList = document.querySelectorAll('.alert');
                  alertList.forEach(function (alert) {
                    new bootstrap.Alert(alert)
                  })
                </script>
                
               

                <div class="form-group">
                  <label for="" class="form-label">E-mail:</label>
                  <input type="email" name="email" value="{{values.email}}" id="" class="form-control form-control-sm" placeholder="example@gmail.com" aria-describedby="helpId">
                  
                </div>

                <div class="form-group">
                    <label for="" class="form-label">Password:</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm" placeholder="*************" aria-describedby="helpId">
                </div>

                
                 
                <div class="form-group">
                  
                  <input type="submit" value="log-in" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}